{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <h1>Edit Listing</h1>

  <form method="POST">
    <div class="mb-3">
      <label>Title</label>
      <input
        type="text"
        name="title"
        class="form-control"
        value="{{ rental.title }}"
      />
    </div>
    <label>Quantity</label>

    <input
      type="number"
      name="quantity"
      class="form-control mb-3"
      value="{{ rental.quantity }}"
      min="1"
      required
    />

    <div class="mb-3">
      <label>Description</label>
      <textarea name="description" class="form-control">
{{ rental.description }}</textarea
      >
    </div>
    <label>Security Deposit</label>

    <input
      type="number"
      name="security_deposit"
      class="form-control mb-3"
      value="{{ rental.security_deposit }}"
      required
    />

    <div class="mb-3">
      <label>Price Per Day</label>
      <input
        type="number"
        name="price"
        class="form-control"
        value="{{ rental.price_per_day }}"
      />
    </div>

    <div class="mb-3">
      <label>Category</label>

      <select name="category" class="form-select">
        <option
          value="Camping Gear"
          {%
          if
          rental.category=="Camping Gear"
          %}
          selected
          {%
          endif
          %}
        >
          Camping Gear
        </option>

        <option
          value="Tents"
          {%
          if
          rental.category =="Tents"
          %}
          selected
          {%
          endif
          %}
        >
          Tents
        </option>

        <option
          value="Photography"
          {%
          if
          rental.category =="Photography"
          %}
          selected
          {%
          endif
          %}
        >
          Photography
        </option>

        <option
          value="Electronics"
          {%
          if
          rental.category=="Electronics"
          %}
          selected
          {%
          endif
          %}
        >
          Electronics
        </option>

        <option
          value="Sports Equipment"
          {%
          if
          rental.category=="Sports Equipment"
          %}
          selected
          {%
          endif
          %}
        >
          Sports Equipment
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Update Listing</button>
  </form>
</div>

{% endblock %}
