{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <h1>My Listings</h1>

  {% for rental in rentals %}

  <div class="card mb-3">
    <div class="card-body">
      <h4>{{ rental.title }}</h4>

      <p>{{ rental.description }}</p>

      <p>₹{{ rental.price_per_day }}/day</p>

      <p>Status: {{ rental.status }}</p>
      <a
        href="{{ url_for('main.edit_listing', id=rental.id) }}"
        class="btn btn-warning"
      >
        Edit
      </a>
      <a
        href="{{ url_for('main.delete_listing', id=rental.id) }}"
        class="btn btn-danger"
      >
        Delete
      </a>
    </div>
  </div>

  {% endfor %}
</div>

{% endblock %}
